@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Martian+Mono&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@1,300&family=Sofia+Sans:ital@1&display=swap");

html {
  text-align: center;
  background-color: aquamarine;
  font-family: sans-serif;
}

#avatar {
  width: 400px;
  position: relative;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
}
/* CSS Relative units vs absolute units of measurement */
p {
  margin: 20px 50px 20px 50px;
  font-size: 32px;
}

.hobbies {
  text-align: center;
  text-decoration: dotted;
  background-color: rgb(186, 186, 215);
  font-size: 20px;
  list-style-type: none;
}

.social {
  background-color: skyblue;
  color: #34382c;
  padding: 10px;
}

.social a:hover {
  background-color: orangered;
}


.social a:hover {
  background-color: orangered;
}
